@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Common.css" rel="stylesheet" />
<script src="~/Scripts/VINASIC/Order/Order_Index.js?v=1.8"></script>
<style>
    .alert {
        padding: 20px;
        background-color: #1e7dd0;
        color: white;
        position: fixed;
        bottom: 0px;
        right: 25px;
        left: 210px;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }

    .button {
        border: none;
        color: #0c1ce6;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        background-color: #008CBA;
    }

    .button0 {
        background-color: #cef5da;
    }
    /* */
    .button2 {
        background-color: #d2ec6a;
    }
    /* */
    .button3 {
        background-color: #F5ECCE;
    }
    /* */
    .button4 {
        background-color: #dacfcf;
    }

    .button5 {
        background-color: #f5cece;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>
<div class="row">
    <div class="col-lg-12">
        @*<h3 style="background-color: #faf9f8" class="page-header">
            <img style="width: 200px" src="~/Files/logo.png" />
            </h3>*@
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Dashboard/index">Trang Ch?</a></li>
            <li><i class="icon_documents_alt"></i>??n H?ng</li>
            <li><i class="fa fa-user-md"></i>Qu?n L? ??n H?ng</li>
        </ol>
    </div>
</div>
<div style="display: none" id="defauEmployee">@ViewBag.Employee.Id</div>
<div style="display: none" id="defauOwner">@ViewBag.Employee.IsOwner</div>
<input style="display:none" id="show-dim" type="checkbox" value="@ViewBag.ShowDim" checked="@ViewBag.ShowDim" />
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                    <li id="ProcessOrder" class="active">
                        <a data-toggle="tab" href="#recent-activity">
                            <i class="icon-home"></i>
                            X? L? ??n H?ng
                        </a>
                    </li>
                    @*<li class="">
                            <a data-toggle="tab" href="#ViewDetail">
                                <i class="icon-envelope"></i>
                                Xem Chi Ti?t
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#ViewSubDetail">
                                <i class="icon-envelope"></i>
                                Chi Ti?t Thi?t K?/In ?n
                            </a>
                        </li>*@
                    <li id="CreateOrder" class="">
                        <a data-toggle="tab" href="#edit-profile">
                            <i class="icon-envelope"></i>
                            T?o M?i/Ch?nh S?a ??n H?ng
                        </a>
                    </li>
                </ul>
            </header>
            <div style="border-style: none" class="panel-body pannel-order">
                <div class="tab-content">
                    <div id="recent-activity" class="tab-pane active">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="datefrom">T? Ng?y</label>
                                    <input type="date" class="form-control" name="datefrom" value="" id="datefrom" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="dateto">??n Ng?y</label>
                                    <input type="date" class="form-control" name="dateto" value="" id="dateto" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="cname">Nh?n Vi?n Kinh Doanh</label>
                                    <select id="cemployee1" class="form-control">
                                        <option value="0">Nh?n Vi?n Kinh Doanh </option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="keyword">T?m T?n KH,M? ??n H?ng ,S?T, Email</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="">
                                </div>


                            </div>
                        </div>
                        <div style="margin-left: 5px;margin-bottom: 10px;" class="row">
                            <button id="search" class="btn button button1">T?m Ki?m</button>
                            @*<a id="search" class="btn btn-primary" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_lightbulb_alt"></span>T?m Ki?m</a>*@
                            <button id="inprogess" class="btn button button0">?ang X? L?</button>
                            <button id="noDelivery" class="btn button button2">Ch?a Giao H?ng</button>
                            <button id="deliveried" class="btn button button3">?? Giao H?ng</button>
                            <button id="paid" class="btn button button4">?? Thanh To?n</button>
                            <button id="approval" class="btn button button5">?? Duy?t ??n</button>
                        </div>
                        <div class="=rows" id="jtableOrder"></div>
                        <div class="=rows" id="jtableSum">
                            <div class="jtable-main-container">
                                <div class="jtable-busy-panel-background jtable-busy-panel-background-invisible" style="display: none; width: 1680px; height: 48px;"></div>
                                <div class="jtable-busy-message" style="display: none;"></div>
                                <table class="jtable">
                                    <thead>
                                        <tr>
                                            <th class="jtable-column-header jtable-column-header-sortable" style="width: 40.0238%;">
                                                <div class="jtable-column-header-container">
                                                    <span class="jtable-column-header-text">T?ng B?o C?o Thu</span>
                                                    <div class="jtable-column-resize-handler"></div>
                                                </div>
                                            </th>
                                            <th class="jtable-column-header jtable-column-header-sortable" style="width: 20.0119%;">
                                                <div class="jtable-column-header-container">
                                                    <span class="jtable-column-header-text">T?ng Thu chuy?n Kho?n(VND)</span>
                                                    <div class="jtable-column-resize-handler"></div>
                                                </div>
                                            </th>
                                            <th class="jtable-column-header jtable-column-header-sortable" style="width: 20.0119%;">
                                                <div class="jtable-column-header-container">
                                                    <span class="jtable-column-header-text">T?ng Thu Ti?n M?t(VND)</span>
                                                    <div class="jtable-column-resize-handler"></div>
                                                </div>
                                            </th>
                                            <th class="jtable-column-header jtable-column-header-sortable" style="width: 19.9524%;">
                                                <div class="jtable-column-header-container"><span class="jtable-column-header-text">T?ng Ch?a Thanh To?n(VND)</span></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="jtable-data-row jtable-row-even" data-record-key="1">
                                            <td>T?ng K?t</td>
                                            <td style="color:red" id="sum01">0</td>
                                            <td style="color:red" id="sum02">0</td>
                                            <td style="color:red" id="sum03">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="jtable-column-resize-bar" style="display: none;"></div>
                                <div id="selectHideShowColumn" class="jtable-column-selection-container" style="left: 562px; top: 16.375px; min-width: 100px; display: none;">
                                    <ul class="jtable-column-select-list">
                                        <li>
                                            <label for="Name">
                                                <input type="checkbox" name="Name" checked="checked"><span>T?ng B?o C?o Thu</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="sum1">
                                                <input type="checkbox" name="sum1" checked="checked"><span>T?ng Thu chuy?n Kho?n(VND)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="sum2">
                                                <input type="checkbox" name="sum2" checked="checked"><span>T?ng Thu Ti?n M?t(VND)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="sum3">
                                                <input type="checkbox" name="sum3" checked="checked"><span>T?ng Ch?a Thanh To?n(VND)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @*<div class="row" style="height: 100px">
          <p>T?ng Ti?n</p><span><input id="checkSum" type="text" value="0" /></span>
        </div>*@

                        @*@*<div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
        </div>*@
                    </div>
                    <div id="ViewDetail" class="tab-pane">
                        <div id="jtableViewDetail"></div>
                    </div>
                    <div id="ViewSubDetail" class="tab-pane">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="datefrom">T? Ng?y</label>
                                    <input type="date" class="form-control" name="subdatefrom" value="" id="subdatefrom" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="dateto">??n Ng?y</label>
                                    <input type="date" class="form-control" name="subdateto" value="" id="subdateto" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="cname">Nh?n Vi?n Kinh Doanh</label>
                                    <select id="subcemployee1" class="form-control">
                                        <option value="0">Nh?n Vi?n Kinh Doanh </option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="keyword">T? Kh?a</label>
                                    <input type="text" class="form-control" id="subkeyword" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 5px;margin-bottom: 10px;" class="row">
                            <button id="subsearch" class="btn button button1">T?m Ki?m</button>
                            @*<button id="subinprogess" class="btn button button0">Thi?t K?</button>
                                <button id="subnoDelivery" class="btn button button2">In ?n</button>
                                <button id="subdeliveried" class="btn button button3">Gia C?ng</button>*@
                            @*<button id="subpaid" class="btn button button4">?? Thanh To?n</button>*@
                            @*<button id="subapproval" class="btn button button5">?? Xong</button>*@
                        </div>
                        <div class="=rows" id="jtableSubOrder"></div>
                    </div>
                    <div id="edit-profile" class="tab-pane">
                        <section class="panel">
                            <div class="panel-body bio-graph-info">
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Th?ng Tin Kh?ch H?ng
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="cname">Nh?n Vi?n Kinh Doanh</label>
                                                    <select id="cemployee" class="form-control input-lg m-bot15">
                                                        <option value="0">Nh?n Vi?n Kinh Doanh </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cname">T?n Kh?ch H?ng Ho?c S?T</label>
                                                    <input type="text" class="form-control" id="cname" placeholder="Nh?p T?n Kh?ch H?ng Ho?c S?T">
                                                </div>
                                                <div class="form-group">
                                                    <label for="cphone">S? ?i?n Tho?i</label>
                                                    <input type="text" class="form-control" id="cphone" placeholder="" onkeypress=" return isNumberKey(event)">
                                                </div>
                                                <div class="form-group">
                                                    <label for="cmail">Email</label>
                                                    <input type="text" class="form-control" id="cmail" placeholder="">
                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Th?ng Tin Kh?ch H?ng
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="caddress">??a Ch?</label>
                                                    <textarea style="height: 110px" name="" id="caddress" class="form-control" cols="30" rows="5"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">M? S? Thu?</label>
                                                    <input type="text" class="form-control" id="ctaxcode" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">Ng?y Giao h?ng</label>
                                                    <input type="date" class="form-control" name="date" value="" id="date" />
                                                </div>
                                            </form>

                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Th?ng Tin ??n H?ng
                                        </header>
                                        <div class="panel-body">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproductType">Ch?n Lo?i D?ch V?</label>
                                                    <select id="dproductType" class="form-control input-lg m-bot15"></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproduct">Ch?n D?ch V?</label>
                                                    <select id="dproduct" class="form-control input-lg m-bot15 detail">
                                                        <option value="0">Ch?n Lo?i D?ch V? Tr??c</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="rows">
                                                    <div style="display:@ViewBag.CssShowDim" class="col-md-2 forPrint">
                                                        <label for="dwidth">CNgang(m)</label>
                                                        <input id="dwidth" type="text" pattern="[0-9]*" class="form-control detail caculator" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div style="display:@ViewBag.CssShowDim" class="col-md-2 forPrint">
                                                        <label for="dheignt">CCao(m)</label>
                                                        <input id="dheignt" type="text" class="form-control detail caculator" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div style="display:none" class="col-md-2 forPrint">
                                                        <label for="dsquare">DT?ch(m2)</label>
                                                        <input id="dsquare" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="dquantity">SL??ng</label>
                                                        <input id="dquantity" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div style="display:@ViewBag.CssShowDim" class="col-md-2 forPrint">
                                                        <label for="dsumsquare">T?ng DT(m2)</label>
                                                        <input id="dsumsquare" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="dprice">??n Gi?(vnd)</label>
                                                        <input id="dprice" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="dsubtotal">Th?nh Ti?n(vnd)</label>
                                                        <input id="dsubtotal" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>

                                                </div>

                                            </div>
                                            @*<div class="col-lg-6">
                                                    <div class="=rows">
                                                        <div style="display:@ViewBag.CssShowDim" class="col-lg-4 forPrint">
                                                            <label for="dsumsquare">T?ng DT(m2)</label>
                                                            <input id="dsumsquare" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="dprice">??n Gi?(vnd)</label>
                                                            <input id="dprice" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="dsubtotal">Th?nh Ti?n(vnd)</label>
                                                            <input id="dsubtotal" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                        </div>
                                                    </div>

                                                </div>*@
                                            <div class="col-lg-6 forPrint">
                                                <label for="dfilename">T?n File</label>
                                                <input id="dfilename" type="text" class="form-control detail" placeholder="">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="dnote">Ghi Ch?</label>
                                                <input id="dnote" type="text" class="form-control detail" placeholder="">
                                            </div>
                                            <a id="resetDetail" style="margin-top: 20px; margin-bottom: 10px; margin-left: 10px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <br />
                                            <div id="jtableOrderDetail"></div>
                                            <div class="row">
                                                <input style="text-align: right; margin-top: 10px; margin-right: 12px; width: 200px; float: right" id="dtotal" type="text" class="form-control dsubtotal" placeholder="">
                                                <strong style="margin-top: 10px; width: 200px; float: right">Ti?n Tr??c Thu? (VND)</strong>
                                            </div>
                                            <div class="row">
                                                <input id="dtax" style="text-align: right; margin-top: 10px; margin-right: 12px; width: 200px; float: right" type="checkbox" />
                                                <strong style="margin-top: 10px; width: 200px; float: right">Xu?t H?a ??n (Thu? 10%)</strong>
                                            </div>
                                            <div class="row">
                                                <input style="text-align: right; margin-top: 10px; margin-right: 12px; width: 200px; float: right" id="dtotaltax" type="text" class="form-control dsubtotal" placeholder="">
                                                <strong style="margin-top: 10px; width: 200px; float: right">T?ng Ti?n(VND)</strong>
                                            </div>
                                            <a id="saveOrder" style="margin-left: 20px; margin-top: 20px" title="" class="btn btn-primary btn-sm" href="javascript:void(0)">L?u ??n H?ng</a>
                                            <a id="resetOrder" style="margin-top: 20px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <a id="canelOrder" style="margin-top: 20px" title="" class="btn btn-danger btn-sm" href="javascript:void(0)">H?y B?</a>
                                        </div>
                                    </section>
                                </div>

                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="popup_DesignProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thi?t K?</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="caddress">M? T? C?ng Vi?c</label>
                        <textarea name="" id="dDescription" class="form-control" cols="30" rows="8"></textarea>
                    </div>
                    @*<label for="gTimeStart">Th?i Gian B?t ??u</label>
                        <p class="form-control" id="dTimeStart">11/04/2015 11:29:30</p>

                        <label for="gTimeEnd">Th?i Gian K?t Th?c</label>
                        <p class="form-control" id="dTimeEnd">11/04/2015 11:29:30</p>*@
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="popup_PrintProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>In ?n</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" />
                    <div class="form-group">
                        <label for="product">Nh?n Vi?n</label>
                        <select id="gPrintName" class="form-control input-lg m-bot15">
                            <option value="0">Ch?n Nh?n Vi?n In</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="caddress">M? T?</label>
                        <textarea name="" id="gDescription" class="form-control" cols="30" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="gStatus">Tr?ng Th?i</label>
                        <select disabled="disabled" id="gStatus" class="form-control input-lg m-bot15">
                            <option value="0">Kh?ng X? L?</option>
                            <option value="1">?ang X? L?</option>
                            <option value="2">Ho?n Th?nh</option>
                            <option value="3">X? L? L?i</option>
                        </select>
                    </div>
                    <label for="gTimeStart">Th?i Gian B?t ??u</label>
                    <p class="form-control" id="gTimeStart">11/04/2015 11:29:30</p>

                    <label for="gTimeEnd">Th?i Gian K?t Th?c</label>
                    <p class="form-control" id="gTimeEnd">11/04/2015 11:29:30</p>

                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="popup_PaymentProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thanh To?n</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <p id="hastaxnote" style="color:red;margin-left: 10px;display:none">??n h?ng c? xu?t h?a ??n. T?ng ti?n ?? bao g?m thu? 10% </p><br />
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ptotal">T?ng Ti?n(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="ptotal" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="phaspay">?? Thanh To?n(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="phaspay" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ppayment">C?n N?(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="ppayment" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ppay">Kh?ch ??a</label>
                        <input type="text" class="form-control" id="ppay" placeholder="" onkeypress=" return isNumberKey(event) ">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="prealpay">Ti?n Thu</label>
                        <input type="text" class="form-control" id="prealpay" placeholder="" onkeypress=" return isNumberKey(event) ">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="prest">C?n L?i</label>
                        <input type="text" class="form-control" id="prest" placeholder="" onkeypress=" return isNumberKey(event) ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="prest">Lo?i Thanh To?n</label>
                    <select id="PaymentType" class="form-control">
                        <option value="1">Ti?n M?t</option>
                        <option value="2">Chuy?n Kho?n</option>
                        <option value="3">C?ng N?</option>

                    </select>
                </div>
                <div id="transferIdShell" style="display:none" class="form-group">
                    <label for="caddress">Th?ng Tin Chuy?n Kho?n</label>
                    <textarea name="" id="transferId" class="form-control" cols="30" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input id="type2" type="checkbox">Phi?u thu lo?i b?ng k?.
                <a print class="btn btn-danger" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_target"></span>In Phi?u Thu</a>
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="popup_HasPay" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>?? Thanh To?n</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="haspay">?? Thanh To?n</label>
                        <input type="text" class="form-control" id="haspay" placeholder="" onkeypress=" return isNumberKey(event) ">
                    </div>
                    <div class="form-group">
                        <label for="prest">Lo?i Thanh To?n</label>
                        <select id="PaymentType1" class="form-control">
                            <option value="1">Ti?n M?t</option>
                            <option value="2">Chuy?n Kho?n</option>
                            <option value="3">C?ng N?</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="popup_Cost" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Th?ng K? Chi Ph?</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <div id="jtableCost"></div>
                <form role="form">
                    <div style="margin-top:20px" class="form-group">
                        <p style="width:40%;float:left">T?ng Chi Ph? </p><input disabled="disabled" style="width:43%" type="text" class="form-control" id="cost" placeholder="">                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="popup_cost_edit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>S?a Chi Ph?</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <input id="cost-id" type="hidden" />
                <form role="form">
                    <div class="form-group">
                        <label for="cost-content"><span class="glyphicon glyphicon-list-alt"></span>N?i Dung</label>
                        <input id="cost-content" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="cost-amount"><span class="glyphicon glyphicon-list-alt"></span>S? Ti?n</label>
                        <input id="cost-amount" type="text" class="form-control" placeholder="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button id="save-cost-edit" class="btn btn-primary">
                    <div class="button-image save-cost"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>
<div style="width: 210mm; height: 148.5mm; color: red; display: none" id="paymentvoucher">
    <table style="margin-top: 20px; margin-left: 10px" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    ??n v?: @ViewBag.cpnShortName<br>
                    B? ph?n: Ph?ng K? To?n
                </td>
                <td>
                    <strong style="font-size: 20px;">PHI?U THU</strong><br>
                    <em><span style="margin-left: 16px;" id="vdate1">Ng?y 11 th?ng 05 n?m 2016</span> </em>
                </td>
                <td style="float: right; font-size: 10px;margin-right:100px">
                    <strong>M?u s?: 01 ? TT</strong><br>
                    (Ban h?nh theo Q? s?: 48/2006/Q?- BTC<br>
                    Ng?y 14/9/2006 c?a B? tr??ng BTC)
                </td>
            </tr>
        </tbody>
    </table>
    <table style="margin-left: 10px" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="float: right; width: 170px; font-size: 10px;margin-right:100px">
                    Quy?n s?: PT 001<br>
                    S?:<span id="no">01</span><br>
                    N?: …………………….<br>
                    C?: …………………….
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left: 10px">
        H? v? t?n ng??i n?p ti?n:&nbsp <span id="vcustomer"> Tr?n Qu?c B?o</span>.&nbsp S?T:&nbsp<span id="vphone">0962 57 52 55</span><br>
        ??a ch?: <span id="vaddress">56/5/6 V?n Chung ,ph??ng 13, qu?n T?n B?nh</span>.<br>
        L? do n?p: <span id="vproduct">In PP trong nh?</span>.<br>
        S? ti?n: <span id="vtotal">5,000,000 vnd</span> .(Vi?t b?ng ch?): <span id="strtotal">m?t tr?m hai m??i l?m ng?n ??ng ch?n</span>.<br>
        K?m theo: ……………………….Ch?ng t? g?c.
    </p>
    <div><em><span style="float:right;margin-right:270px" id="vdate2">Ng?y 11 th?ng 05 n?m 2016</span></em></div>
    <table style="margin-left: 10px" width="85%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <strong>&nbsp; &nbsp; &nbsp;&nbsp;Gi?m ??c</strong><br>
                    (K?, h? t?n, ??ng d?u)
                </td>
                <td>
                    <strong>K? to?n tr??ng</strong><br>
                    &nbsp;&nbsp;&nbsp;(K?, h? t?n)
                </td>
                <td>
                    <strong>Ng??i n?p ti?n</strong><br>
                    &nbsp;&nbsp;(K?, h? t?n)
                </td>
                <td>
                    <strong>Ng??i l?p phi?u</strong><br>
                    &nbsp;&nbsp;&nbsp;(K?, h? t?n)
                </td>
                <td>
                    <strong>&nbsp;&nbsp;Th? qu?</strong><br>
                    (K?, h? t?n)
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="margin-left: 10px">
        ?? nh?n ?? s? ti?n (vi?t b?ng ch?): ……………………………………………………………………..<br>
        + T? gi? ngo?i t? (v?ng, b?c, ?? qu?): …………………………………………………………………..<br>
        + S? ti?n quy ??i: ………………………………………………………………………………………
    </p>
</div>
<div style="width: 210mm; height: 148.5mm; color: red; display: none" id="paymentvoucher1">
    <div class="Block1" style="width:70%;float:left;margin-left:25px">
        <p style="margin-bottom:0px">@ViewBag.cpnName </p>
        <p style="margin-bottom:0px;margin-top: 0px;font-size:smaller">
            ??a ch? v?n ph?ng: @ViewBag.cpnAddress<br>
            Di ??ng: @ViewBag.cpnMobile
        </p>
    </div>
    <div class="Block2" style="width:20%;float:left;">
        <p style="margin-bottom:0px;font-size:smaller">
            Quy?n s?: PT 001<br>
            S?:<span id="no1">01</span><br>
            <em><span id="vdate3">Ng?y:11/05/2016</span> </em>
        </p>
    </div>
    <div>
        <h2 style="width:100%;float:left;text-align: center;margin-top: 5px;margin-left:10px;margin-bottom:5px">PHI?U THU</h2>
    </div>
    <div class="Block3" style="width:100%;float:left;margin-left:25px">
        <p style="margin-top:0px;margin-bottom:4px">
            H? v? t?n ng??i n?p ti?n: &nbsp; <span id="vcustomer1"> Tr?n Qu?c B?o</span><br>
            ??a ch?: <span id="vaddress1">56/5/6 V?n Chung ,ph??ng 13, qu?n T?n B?nh</span>.<br>
            S? ?t: <span id="vphone1">0909242096</span>
        </p>
    </div>
    <div class="Block4" id="Block4" style="width:86%;float:left;margin-left:20px">
        <table id="renderTable" border="1" style="width:100%" cellspacing="0" cellpadding="0">
            <tr>
                <th>D?ch V?</th>
                <th>T?n File</th>
                @*<th>CD?i</th>
                    <th>CR?ng</th>*@
                <th>SL??ng</th>
                <th>??n Gi?</th>
                <th>Th?nh Ti?n</th>
            </tr>
            <tr>
                <td>Ch?n X c??ng l?c 80 x 180</td>
                <td>c?n b?ng ??ng khoen 4 g?c</td>
                @*<td>0.55</td>
                    <td>0.72</td>*@
                <td>5</td>
                <td>20,0000</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                @*<td> &nbsp;</td>
                    <td> &nbsp;</td>*@
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td colspan="6">T?ng Ti?n</td>
                <td><span id="vtotal1">55577854</span></td>
            </tr>
            <tr>
                <td colspan="7">B?ng Ch?:<span id="strtotal1"> M?t tri?u n?m tr?m b?y m??i l?m ng?n b?n tr?m l? s?u ??ng</span></td>
            </tr>
        </table>
    </div>
    <div class="Block5" style="width:90%;float:left;margin-top:10px;margin-left:10px">
        <table style="width:100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <strong>&nbsp; &nbsp; &nbsp;&nbsp;Gi?m ??c</strong><br>
                        (K?, h? t?n, ??ng d?u)
                    </td>
                    <td>
                        <strong>K? to?n tr??ng</strong><br>
                        &nbsp;&nbsp;&nbsp;(K?, h? t?n)
                    </td>
                    <td>
                        <strong>Ng??i n?p ti?n</strong><br>
                        &nbsp;&nbsp;(K?, h? t?n)
                    </td>
                    <td>
                        <strong>Ng??i l?p phi?u</strong><br>
                        &nbsp;&nbsp;&nbsp;(K?, h? t?n)
                    </td>
                    <td>
                        <strong>&nbsp;&nbsp;Th? qu?</strong><br>
                        (K?, h? t?n)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="popup_notification" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>G?i Th?ng Tin T?i Kh?ch H?ng</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <h4>??n h?ng ??i giao cho kh?ch .B?n c? mu?n g?i th?ng b?o t?i kh?ch h?ng ?</h4>
                    <div class="form-group">
                        <label for="haspay">G?i SMS</label>
                        <input type="checkbox" class="form-control" id="sendSMS" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="haspay">G?i Email</label>
                        <input type="checkbox" class="form-control" id="sendEmail" placeholder="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    ??ng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    L?u
                </button>
            </div>
        </div>

    </div>
</div>
<!-- page end-->
